* {
  font-family: sans-serif;
}

html {
  background: url('c19.png') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

input {
  margin: 20px;
  border-radius: 2px 8px 2px 8px;
  background-color: grey;
  color: white;
  height: 35px;
  width: 30%;
  font-size: 20px;
}

.nav {
  display: flex;
  background-color: black;
  color: white;
  overflow: hidden;
}

.search {
}

.row {
  display: flex;
  text-align: center;
  background-color: white;
}

.column {
  flex: 50%;
  background-color: grey;
}
