* {
  font-family: sans-serif;
}

html, body {
  height: 100%;
  margin: 0px;
}

input {
  margin: 20px;
  border-radius: 20px 20px 20px 20px;
  background-color: lightgrey;
  color: black;
  height: 35px;
  width:90%;
  font-size: 20px;
  -webkit-box-shadow: 10px 10px 13px -5px rgba(0,0,0,0.27);
  -moz-box-shadow: 10px 10px 13px -5px rgba(0,0,0,0.27);
  box-shadow: 10px 10px 13px -5px rgba(0,0,0,0.27);
  max-width: 300px;
}

input:focus {
  outline: none;
  background-color: white;
  -webkit-box-shadow: 10px 10px 13px -5px rgba(0,0,0,0.58);
  -moz-box-shadow: 10px 10px 13px -5px rgba(0,0,0,0.58);
  box-shadow: 10px 10px 13px -5px rgba(0,0,0,0.58);
  transition-duration: 0.5s;
}

hr {
  width: 50%;
  height: 1px;
  background-color: grey;
}

button {
  display: none;
}

.row {
  display: none;
  height: 100%;
  width: 100%;
  position: relative;
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1s;
  animation-name: fade;
  animation-duration: 1s;
}

@-webkit-keyframes fade {
  from { bottom: -100px; opacity: 0 }
  to { bottom: 0; opacity: 1 }
}

@keyframes fade {
  from { bottom: -100px; opacity: 0 }
  to { bottom: 0; opacity: 1 }
}

.column {
  float: left;
}

.left {
  width: 70%;
  background: url('c19.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100%;
  margin: auto;
}

.info {
  height: auto;
  width: 50%;
  background-color: rgba(200, 200, 200, 0.6);
  padding: 10px;
  border-radius: 20px 20px 20px 20px;
  -webkit-box-shadow: 10px 10px 13px -5px rgba(0,0,0,0.27);
  -moz-box-shadow: 10px 10px 13px -5px rgba(0,0,0,0.27);
  box-shadow: 10px 10px 13px -5px rgba(0,0,0,0.27);
}

.right {
  width: 30%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100%;
  margin: auto;
}

.load {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 50px;
  height: 50px;
  margin: -75px 0 0 -75px;
  border: 10px solid #dcdcdc;
  border-radius: 50%;
  border-top: 10px solid #B22222;
  width: 70px;
  height: 70px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.search {
  display: inline-block;
}

.data {
  height: auto;
  width: 100%;
  padding: 10px;
}

@media(max-width: 900px) {
  .row {
    display: none;
    background: url('c19.jpg') no-repeat center center;
    width: 100%;
  }

  .column {
    float: none;
    width: 100%;
  }

  .left {
    width: 50%;
    background: none;
    height: auto;
    width: 100%;
  }

  .right {
    margin-top: 20px;
    width: 50%;
    background: none;
    height: auto;
    background-color: rgba(200, 200, 200, 0.6);
    padding: 10px;
    border-radius: 20px 20px 20px 20px;
    -webkit-box-shadow: 10px 10px 13px -5px rgba(0,0,0,0.27);
    -moz-box-shadow: 10px 10px 13px -5px rgba(0,0,0,0.27);
    box-shadow: 10px 10px 13px -5px rgba(0,0,0,0.27)
  }

  input {
    text-align: center;
    margin: 0;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .load {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 50px;
    height: 50px;
    margin: -40px 0 0 -40px;
    border: 10px solid #dcdcdc;
    border-radius: 50%;
    border-top: 10px solid #B22222;
    width: 70px;
    height: 70px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
  }

}
