* {
  font-family: sans-serif;
}

html {
  background: url('c19.png') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

input {
  margin: 20px;
  border-radius: 2px 8px 2px 8px;
  background-color: grey;
  color: white;
  height: 35px;
  width: 30%;
  font-size: 20px;
}

.search {
  display: block;
  text-align: center;
}

.row {
  display: block;
  text-align: center;
  background-color: white;
}

.column {
  background-color: grey;
}

.left {
  width: 30%;
}

.right {
  width: 70%;
  background-color: darkgrey;
  padding: 20px;
}
